:root {
    --black: #1f1f1f;
    --darkgreen: #006400;
    --darkred: #8b0000;
    --lightblue: #33ffff;
    --graygreen: #4c7f7f;
    --white: #ffffff;
    --lighterblue: #aaffff;
    --board-border: rgba(0, 0, 0, 0.75);
    --board-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

html[theme="dark"] {
    --black: #f0f0f0; /* Inverted from #0d0d0d */
    --darkgreen: #32cd32; /* Brighter green, contrasting with dark background */
    --darkred: #ff6347; /* Lighter red for better visibility */
    --lightblue: #004c4c; /* Darkened light blue */
    --graygreen: #a3c3c3; /* Darker gray-green */
    --white: #1f1f1f; /* Dark background */
    --lighterblue: #006666; /* Darkened lighter blue */
    --board-border: rgba(255, 255, 255, 0.25);;
    --board-shadow: rgba(255, 255, 255, 0.25) 0px 60px 123px -25px, /* Lighter, subtle glow */
    rgba(255, 255, 255, 0.05) 0px 35px 75px -35px;

    input {
        color: #2e4646;
    }

    .player-info .checker[color="black"], .opponent-info .checker[color="black"]  {
        border: 3px solid #f0f0f0;
    }

    header img.icon {
        filter: invert(1) brightness(2);
    }
}

#bg {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 16px;
    border-radius: 50%;
    z-index: -100;
    animation: bg-full 4s ease-in forwards;
}

#theme-switch {
    width: 40px; 
    height: 40px;
    cursor: pointer; 
    position: absolute;
    top: 0px;
    left: 8px; 
}

@keyframes bg-full {
    0% {
        transform: scale(0.01);
    }

    5% {
        transform: scale(1);
    }

    60% {
        left: -150vmax;
        top: -150vmax;
        width: 300vmax;
        height: 300vmax;
    }

    100% {
        left: -50vw;
        top: -50vh;
        width: 180vw;
        height: 180vh;
    }
}